<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-01-30T12:03:51Z</date>
	<key>WorkspacePath</key>
	<string>/Users/nvc5/Documents/Fazil/FluxTube/macos/Runner.xcworkspace</string>
</dict>
</plist>
